src/conf/xml-resources/web-service-references/selfsimswapws/wsdl/10.210.102.35_8080/WSselfSimSwapOGB/selfsimswapws.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.selfsimswap.ogb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.selfsimswap.ogb/" name="selfsimswapws">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.selfsimswap.ogb/" schemaLocation="http://10.210.102.35:8080/WSselfSimSwapOGB/selfsimswapws?xsd=1"/>
</xsd:schema>
</types>
<message name="getPuk2">
<part name="parameters" element="tns:getPuk2"/>
</message>
<message name="getPuk2Response">
<part name="parameters" element="tns:getPuk2Response"/>
</message>
<message name="getCustomerTrustNumbers">
<part name="parameters" element="tns:getCustomerTrustNumbers"/>
</message>
<message name="getCustomerTrustNumbersResponse">
<part name="parameters" element="tns:getCustomerTrustNumbersResponse"/>
</message>
<message name="getCustomerSecretCode">
<part name="parameters" element="tns:getCustomerSecretCode"/>
</message>
<message name="getCustomerSecretCodeResponse">
<part name="parameters" element="tns:getCustomerSecretCodeResponse"/>
</message>
<message name="getPuk">
<part name="parameters" element="tns:getPuk"/>
</message>
<message name="getPukResponse">
<part name="parameters" element="tns:getPukResponse"/>
</message>
<message name="updateCustomerTrustNumber1">
<part name="parameters" element="tns:updateCustomerTrustNumber1"/>
</message>
<message name="updateCustomerTrustNumber1Response">
<part name="parameters" element="tns:updateCustomerTrustNumber1Response"/>
</message>
<message name="updateCustomerTrustNumber2">
<part name="parameters" element="tns:updateCustomerTrustNumber2"/>
</message>
<message name="updateCustomerTrustNumber2Response">
<part name="parameters" element="tns:updateCustomerTrustNumber2Response"/>
</message>
<message name="updateCustomerTrustNumber3">
<part name="parameters" element="tns:updateCustomerTrustNumber3"/>
</message>
<message name="updateCustomerTrustNumber3Response">
<part name="parameters" element="tns:updateCustomerTrustNumber3Response"/>
</message>
<message name="updateCodeSecret">
<part name="parameters" element="tns:updateCodeSecret"/>
</message>
<message name="updateCodeSecretResponse">
<part name="parameters" element="tns:updateCodeSecretResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<portType name="selfsimswapws">
<operation name="getPuk2">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getPuk2Request" message="tns:getPuk2"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getPuk2Response" message="tns:getPuk2Response"/>
</operation>
<operation name="getCustomerTrustNumbers">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerTrustNumbersRequest" message="tns:getCustomerTrustNumbers"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerTrustNumbersResponse" message="tns:getCustomerTrustNumbersResponse"/>
</operation>
<operation name="getCustomerSecretCode">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerSecretCodeRequest" message="tns:getCustomerSecretCode"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerSecretCodeResponse" message="tns:getCustomerSecretCodeResponse"/>
</operation>
<operation name="getPuk">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getPukRequest" message="tns:getPuk"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getPukResponse" message="tns:getPukResponse"/>
</operation>
<operation name="updateCustomerTrustNumber1">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber1Request" message="tns:updateCustomerTrustNumber1"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber1Response" message="tns:updateCustomerTrustNumber1Response"/>
</operation>
<operation name="updateCustomerTrustNumber2">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber2Request" message="tns:updateCustomerTrustNumber2"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber2Response" message="tns:updateCustomerTrustNumber2Response"/>
</operation>
<operation name="updateCustomerTrustNumber3">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber3Request" message="tns:updateCustomerTrustNumber3"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCustomerTrustNumber3Response" message="tns:updateCustomerTrustNumber3Response"/>
</operation>
<operation name="updateCodeSecret">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCodeSecretRequest" message="tns:updateCodeSecret"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/updateCodeSecretResponse" message="tns:updateCodeSecretResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://webservice.selfsimswap.ogb/selfsimswapws/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
</portType>
<binding name="selfsimswapwsPortBinding" type="tns:selfsimswapws">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getPuk2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerTrustNumbers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerSecretCode">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPuk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomerTrustNumber1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomerTrustNumber2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomerTrustNumber3">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCodeSecret">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="selfsimswapws">
<port name="selfsimswapwsPort" binding="tns:selfsimswapwsPortBinding">
<soap:address location="http://10.210.102.35:8080/WSselfSimSwapOGB/selfsimswapws"/>
</port>
</service>
</definitions>